<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppCenterAuthenticator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <applicationSettings>
        <AppCenterAuthenticator.Properties.Settings>
            <setting name="RedirectAddress" serializeAs="String">
                <value>https://appcenter.ms/auth/intune/callback</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>$yourValue$</value>
            </setting>
            <setting name="AuthAddressPrefix" serializeAs="String">
                <value>https://login.microsoftonline.com/common/oauth2/authorize?redirect_uri=https%3A%2F%2Fappcenter.ms%2Fauth%2Fintune%2Fcallback&amp;response_type=code&amp;response_mode=query&amp;client_id=</value>
            </setting>
            <setting name="AuthAddressSuffix" serializeAs="String">
                <value>&amp;resource=https%3A%2F%2Fgraph.microsoft.com&amp;scope=email%20profile%20openid&amp;x-client-SKU=passport-azure-ad&amp;x-client-Ver=4.0.0&amp;sso_reload=true&amp;nonce=abc</value>
            </setting>
            <setting name="BrowserPath" serializeAs="String">
                <value>FixedRuntime</value>
            </setting>
        </AppCenterAuthenticator.Properties.Settings>
    </applicationSettings>
</configuration>
